*.iml
/.idea/libraries
/.idea/caches
/.idea/modules.xml
/.idea/workspace.xml
/.idea/shelf
/.idea/dictionaries
/.idea/sonarlint
/.idea/sonarlint.xml
/.idea/kotlinc.xml
/.idea/dbnavigator.xml

/local.properties
.gradle
.DS_Store
/build
/captures
.externalNativeBuild

